<h1>Editing Solicitud Estudiante</h1>

<%= render 'form', solicitud_estudiante: @solicitud_estudiante %>

<%= link_to 'Show', @solicitud_estudiante %> |
<%= link_to 'Back', solicitud_estudiantes_path %>
